$brightOrange: #FF7A00;
$mediumOrange: #E46E00;
$darkOrange: #e36619;
$white: #FFFFFF;
$black: #282828;
$darkGray: #645F5B;

:root {
    --backgroundClr: rgba(255,255,255,1);
    --brightOrange: #FF7A00;
    --mediumOrange: #E46E00;
    --darkOrange: #e36619;
    --white: #414141;
    --white2: #FFFFFF;
    --whiteOpacity: rgba(66, 66, 66, .9);
    --black: #282828;
    --darkGray: #645F5B;
    --darkGrayOpacity: rgba(189, 189, 189, 0.3);
}

.darkMode {
    --backgroundClr: rgba(0,0,0,.82);
    --brightOrange: #FF7A00;
    --mediumOrange: #E46E00;
    --darkOrange: #e36619;
    --white: #FFFFFF;
    --whiteOpacity: rgba(255,255,255,.7);
    --black: #282828;
    --darkGray: #645F5B;
    --darkGrayOpacity: rgba(100, 95, 91, .2);
}