@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import './variables';
@import './mixins';
@import './general-styles';


// Header

header {

    position: absolute;
    width: 100%;
    z-index: 100;

    nav {
        position: fixed;
        height: 8vh;
        width: 100%;
        @include dispFlex(space-between,flex-start,row);
        transition: background-color .2s ease-in;
        background-color: var(--backgroundClr);

        ul {
            height: 100%;
        }

        ul li {
            position: relative;
            overflow: hidden;
            font-size: 1.2em;
            height: 100%;
            flex-shrink: 0;
            z-index: 1;

            &:hover::before {
                transform: scaleY(1);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

        ul li::before {
            position: absolute;
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            background-color: var(--brightOrange);
            @include transformScale(1,0,ease-in,bottom)
        }

        ul li::after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: var(--white);
            @include transformScale(0,1,ease-out,center)
        }
    
        ul a {
            @include dispFlex(center,center,row);
            text-transform: uppercase;
            text-align: left;
            padding: .5em 1.2em;
            color: var(--white);
            letter-spacing: .2px;
            font-weight: 600;
            height: 100%;
        }
    }

    .leftNav {

        @include dispFlex(space-between,center,row);
        padding: 0 1em;
        flex-basis: 95%;
        height: 100%;

        #logoContainer {
            position: relative;
            height: 70%;
            flex-basis: 5%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        ul {
            @include dispFlex(space-around,center,row);
            flex-basis: 50%;
        }
    }

    .rightNav {
        @include dispFlex(space-around,center,row );
        padding: .5em;
        flex-basis: 5%;
        height: 100%;

        ul {
            @include dispFlex(flex-end,center,row);
            flex-basis: 100%;
        }

        ul li:first-child {
            padding-right: 1.5em;
        }

        ul li:last-child {
            border-left: 2px solid white;
            padding-left: 1.5em;
        }

    }
}

// Main

main {
    //background: url('../img/background.jpg');
    transition: background-color .2s ease-in;
    background-color: var(--backgroundClr);
    background-size: cover;
    background-attachment: fixed;
}

.sectionContent {

    @include dispFlex(space-around,center,row);
    padding: 1em;
    height: 100vh;

    &__left {

        flex-basis: 45%;

        h2 {
            font-size: 4em;
            font-weight: 600;
            letter-spacing: .5px;
            line-height: 1.1;
            color: var(--white);

            b {
                color: var(--brightOrange);
            }
        }
        
        p {
            margin-top: .8em;
            color: var(--whiteOpacity);
            font-weight: 400;
            font-size: 2em;
            max-width: 80%;
        }
    }

    &__right {
        flex-basis: 35%;
    }

    &__cta-buttons {

        margin-top: 1.2em;
        display: flex;

    }

    &__whyus {
        @include dispFlex(center,flex-start,column);
        border: 2px solid var(--brightOrange);
        height: 100%;
        overflow: hidden;

        div {
            position: relative;
            width: 100%;
            padding: 1em;
            @include dispFlex(space-between,center,row);
            border-bottom: 20px solid var(--brightOrange);

            h3 {
                color: var(--white);
                margin-left: .8em;
                font-size: 1.7em;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--brightOrange)
            }

            img {
                position: absolute;
                right: -2em;
                height: 100%;
            }
        }

        ol {
            @include dispFlex(center,flex-start,column);
            padding: 1em 2em;
            list-style: decimal;
            color: var(--white);
            font-size: 1.6em;
            font-weight: 500;

            li {
                line-height: 1.8;
            }
        }
    }

    &__top {

        h4 {
            position: relative;
            left: -4em;
            font-size: 1.2em;
            text-transform: uppercase;
            color: var(--brightOrange);
            font-weight: 600;
        }
        
        h3 {
            position: relative;
            margin-top: .4em;
            font-size: 3em;
            font-weight: 600;
            color: var(--white);

            &::before {
                content: "";
                position: absolute;
                left: -1.4em;
                top: 0;
                width: 1em;
                height: 100%;
                background: url(../img/ProfitIcon.svg) no-repeat;
                background-size: 100%;
            }
        }
    }

    &__steps-bar {
        
        position: relative;
        width: 80%;

        .bar-sections {
            position: absolute;
            list-style: decimal;
            bottom: 100%;
            width: 100%;
            @include dispFlex(space-around,stretch,row);
            color: var(--white);
        };

        .bar-item {
            position: relative;
            @include dispFlex(space-between,center,column);
            width: 12em;
            padding: 1.2em .5em 0;
            cursor: pointer;
            transition: color .4s linear;
            z-index: 10;

            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.2em;
                font-weight: 500
            }

            .itemStop {
                z-index: 1;
                margin-top: .2em;
                width: .3em;
                height: 1.3em;
                background-color: var(--white);
            }

            .itemBackground {
                position: absolute;
                bottom: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background-color: var(--brightOrange);
                transform: scale(1,0);
                transform-origin: bottom;
            }

            @keyframes animateBackground {
                0% {
                    transform: scale(1,0);
                }
                50% {
                    transform: scale(1,1)
                }
                100% {
                    transform: scale(1,.9);
                }
            }

            .itemBackground.active {
                animation: animateBackground .7s ease-in-out forwards;
            }
        };
    }

    &__bar {
        height: .4em;
        border-radius: 10px;
        width: 100%;
        background-color: var(--white);
    }

    &__selectedBarItem {
        @include dispFlex(space-evenly,center,row);
        width: 70%;

        div {

            @include dispFlex(flex-start,center,row);
            margin-right: 3em;

            & > * + * {
                margin-left: .7em
            }

            img {
                width: 4em;
            }

            h3 {
                font-size: 2em;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--white);
            }

        }

        ul {

            li {
                position: relative;
                color: var(--white);
                line-height: 2;
                font-size: 1.4em;
                font-weight: 500;

                &::before {
                    position: absolute;
                    content: "";
                    left: -1.8em;
                    top: .55em;
                    width: .3em;
                    height: .3em;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 5px solid var(--brightOrange);
                }
            }
        }
    }

    .teamCard {

        width: 70%;
        @include dispFlex(space-between,stretch,column);
        perspective: 1000px;
        z-index: 150;

        &__Flip {
            position: relative;
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;
            transition: transform 1.5s ease-out;
        }

        &__Flip.active {
            transform: rotateY(180deg);
        }

        &__Side {
            position: absolute;
            overflow: hidden;
            border: 2px solid var(--brightOrange);
            border-radius: 14px;
            @include dispFlex(space-between,stretch,column);
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
        }

        &--back {
            transform: rotateY(180deg);
        }

        &__top {
            
            position: relative;
            padding: 1em 1.5em;
            background-color: var(--brightOrange);

            h3 {
                font-size: 2em;
                color: var(--white);
                text-transform: uppercase;
                font-weight: 600;
            }

            div {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 0;
                background-color: var(--white);
                height: 100%;
                width: 30%;

                &::before {
                    position: absolute;
                    content: "";
                    left: -.6em;
                    top: 0;
                    width: 3em;
                    height: 100%;
                    background-color: var(--white);
                    z-index: -1;
                    transform: skew(-16deg);
                }

                img {
                    position: absolute;
                    width: 4em;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

        &__picture {

            @include dispFlex(center,center,row);
            overflow: hidden;
            padding: 0 2em;

            img {
                height: 100%;
              
                object-fit: cover;
            }
        }

        &__content {
            @include dispFlex(center,center,row);
            padding: 2em 1em;
            background-color: var(--darkGrayOpacity);

            p {
                margin-top: 0;
                max-width: 90%;
            }
        }
    }

    .teamTree {
        position: relative;

        &__member {
            position: absolute;
            width: 2em;
        }

        &__background {
            width: 100%;
            height: 100%;

            svg circle.active {
                filter: drop-shadow(0 0 10px var(--brightOrange));
            }

            svg image {
                width: 26.5%;
                height: 26.5%;
                clip-path: circle(40% at 50% 50%);
                cursor: pointer;
            }
        }
    }
}

#operar {
    @include dispFlex(space-around,center,column);
}

#proyecto {

    .sectionContent__right {

        flex-basis: 40%;
    }

    .sectionContent__left {
        height: 80%;
        @include dispFlex(space-around,stretch,row);
    }
}

// Footer


footer {
    @include dispFlex(space-between, center, row);
    background-color: var(--brightOrange);

    .footer__left {
        padding: 1.2em 2em;
    }

    .footer__right {
        padding: 1.2em 2em;
        background-color: var(--darkOrange);
    }

    p {
        font-size: 1.2em;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 500
    }

    a {
        color: var(--white);
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
    }
}