@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
:root {
  --backgroundClr: rgba(255,255,255,1);
  --brightOrange: #FF7A00;
  --mediumOrange: #E46E00;
  --darkOrange: #e36619;
  --white: #414141;
  --white2: #FFFFFF;
  --whiteOpacity: rgba(66, 66, 66, .9);
  --black: #282828;
  --darkGray: #645F5B;
  --darkGrayOpacity: rgba(233, 233, 233, 0.4);
}

.darkMode {
  --backgroundClr: rgba(0,0,0,.82);
  --brightOrange: #FF7A00;
  --mediumOrange: #E46E00;
  --darkOrange: #e36619;
  --white: #FFFFFF;
  --whiteOpacity: rgba(255,255,255,.7);
  --black: #282828;
  --darkGray: #645F5B;
  --darkGrayOpacity: rgba(121, 116, 112, 0.4);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.button {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--white2);
  padding: .4em 1.4em;
  background-color: var(--brightOrange);
}

.button + .button {
  margin-left: .7em;
}

.button:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.button__linkFrames {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button__linkFrames::before {
  position: absolute;
  content: "";
  width: .3em;
  height: .3em;
  left: .15em;
  bottom: .15em;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

.button__linkFrames::after {
  position: absolute;
  content: "";
  width: .3em;
  height: .3em;
  right: .15em;
  top: .15em;
  border-right: 1px solid var(--white);
  border-top: 1px solid var(--white);
}

.button::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 99%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--darkOrange);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#darkModeToggle {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  z-index: 10;
}

#darkModeToggle input {
  position: absolute;
  left: -5%;
  top: -5%;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#darkModeToggle #darkModeIcon {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 3px solid var(--black);
  width: 100%;
  height: 100%;
}

#darkModeToggle #darkModeIcon::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

#darkModeToggle input:checked ~ #darkModeIcon {
  border: 3px solid var(--white);
}

#darkModeToggle input:checked ~ #darkModeIcon::before {
  background-color: var(--white);
}

header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

header nav {
  position: fixed;
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  background-color: var(--backgroundClr);
}

@media screen and (max-width: 800px) {
  header nav {
    height: 10vh;
    position: relative;
  }
}

header nav ul {
  height: 100%;
}

header nav ul li {
  position: relative;
  overflow: hidden;
  font-size: 1.2em;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
}

header nav ul li:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header nav ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header nav ul li::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--brightOrange);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

header nav ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

header nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: left;
  padding: .5em 1.2em;
  color: var(--white);
  letter-spacing: .2px;
  font-weight: 600;
  height: 100%;
}

@media screen and (max-width: 800px) {
  header nav ul a {
    color: var(--white2);
    padding: 1em;
  }
}

header .leftNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  height: 100%;
}

header .leftNav #logoContainer {
  position: relative;
  width: 2.5em;
  height: 100%;
}

header .leftNav #logoContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
}

header .leftNav .hamburguerMenu {
  display: none;
  z-index: 200;
  position: fixed;
  padding: .5em .8em;
  bottom: 3em;
  right: 1em;
  width: 4em;
  height: 4em;
  border-radius: 5px;
  background-color: var(--brightOrange);
}

@media screen and (max-width: 800px) {
  header .leftNav .hamburguerMenu {
    display: block;
  }
}

header .leftNav .hamburguerMenu span {
  display: inline-block;
  width: 100%;
  height: .3em;
  background-color: var(--backgroundClr);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  border-radius: 2px;
}

header .leftNav .hamburguerMenu.open span:first-child {
  -webkit-transform: rotate(-45deg) translate(-0.7em, 0.7em) scale(1.2);
          transform: rotate(-45deg) translate(-0.7em, 0.7em) scale(1.2);
}

header .leftNav .hamburguerMenu.open span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .leftNav .hamburguerMenu.open span:last-child {
  -webkit-transform: rotate(45deg) translate(-0.7em, -0.7em) scale(1.2);
          transform: rotate(45deg) translate(-0.7em, -0.7em) scale(1.2);
}

header .leftNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 800px) {
  header .leftNav ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 5em;
    right: 1.2em;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px var(--darkOrange);
            box-shadow: 0 0 10px var(--darkOrange);
    height: auto;
    background-color: var(--brightOrange);
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
    transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  header .leftNav ul.mobile {
    -webkit-transform: scale(1) translateY(-3em);
            transform: scale(1) translateY(-3em);
    opacity: 1;
  }
}

header .rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  height: 100%;
}

header .rightNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

header .rightNav ul li:first-child {
  padding-right: 1.5em;
}

header .rightNav ul li:last-child {
  border-left: 2px solid white;
  padding-left: 1.5em;
}

main {
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  background-color: var(--backgroundClr);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {
  main {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 800px) {
  #hamburguerMenuClickOutside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  #hamburguerMenuClickOutside.active {
    display: block;
  }
}

.sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .sectionContent {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.sectionContent__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 800px) {
  .sectionContent__left {
    width: 100%;
  }
}

.sectionContent__left h2 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 1.1;
  color: var(--white);
}

@media screen and (max-width: 800px) {
  .sectionContent__left h2 {
    font-size: 2.6em;
  }
}

.sectionContent__left h2 b {
  color: var(--brightOrange);
}

.sectionContent__left p {
  margin-top: .8em;
  color: var(--whiteOpacity);
  font-weight: 400;
  font-size: 2em;
  max-width: 85%;
}

@media screen and (max-width: 800px) {
  .sectionContent__left p {
    font-size: 1.6em;
    max-width: 95%;
    text-align: left;
  }
}

.sectionContent__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media screen and (max-width: 800px) {
  .sectionContent__right {
    width: 100%;
  }
}

.sectionContent__right #criptominandoBigImage {
  -webkit-animation: moveImage 5s ease-in-out infinite;
          animation: moveImage 5s ease-in-out infinite;
}

@-webkit-keyframes moveImage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveImage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.sectionContent__cta-buttons {
  margin-top: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionContent__whyus {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 2px solid var(--brightOrange);
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .sectionContent__whyus {
    margin-top: 2em;
  }
}

.sectionContent__whyus div {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 20px solid var(--brightOrange);
}

.sectionContent__whyus div h3 {
  color: var(--white);
  margin-left: .8em;
  font-size: 1.7em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--brightOrange);
}

@media screen and (max-width: 800px) {
  .sectionContent__whyus div h3 {
    font-size: 1.5em;
  }
}

.sectionContent__whyus ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 2em;
  list-style: decimal;
  color: var(--white);
  font-size: 1.6em;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .sectionContent__whyus ol {
    font-size: 1.3em;
  }
}

.sectionContent__whyus ol li {
  position: relative;
  line-height: 1.2;
}

.sectionContent__whyus ol li::after {
  position: absolute;
  left: 2px;
  bottom: -5px;
  content: "";
  width: 99%;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: background-color 1.2s ease-in, -webkit-transform 1.7s ease-in-out;
  transition: background-color 1.2s ease-in, -webkit-transform 1.7s ease-in-out;
  transition: transform 1.7s ease-in-out, background-color 1.2s ease-in;
  transition: transform 1.7s ease-in-out, background-color 1.2s ease-in, -webkit-transform 1.7s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.sectionContent__whyus ol li.active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: var(--brightOrange);
}

.sectionContent__whyus ol li.active:nth-child(3):after {
  -webkit-transition: background-color 1.2s ease-in, -webkit-transform 2s ease-in-out;
  transition: background-color 1.2s ease-in, -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out, background-color 1.2s ease-in;
  transition: transform 2s ease-in-out, background-color 1.2s ease-in, -webkit-transform 2s ease-in-out;
}

.sectionContent__whyus ol li + li {
  margin-top: .8em;
}

.sectionContent__whyus #skewedLinesImg {
  position: absolute;
  right: -2em;
  bottom: -.5em;
  height: 40%;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .sectionContent__whyus #skewedLinesImg {
    display: none;
  }
}

.sectionContent__top {
  margin-bottom: 2em;
}

.sectionContent__top h4 {
  position: relative;
  left: -4em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--brightOrange);
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .sectionContent__top h4 {
    left: 0;
  }
}

.sectionContent__top h3 {
  position: relative;
  margin-top: .4em;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--white);
}

.sectionContent__top h3::before {
  content: "";
  position: absolute;
  left: -1.4em;
  top: 0;
  width: 1em;
  height: 100%;
  background: url(../img/ProfitIcon.svg) no-repeat;
  background-size: 100%;
}

.sectionContent__steps-bar {
  position: relative;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .sectionContent__steps-bar {
    margin: 1em 0;
    width: 90%;
  }
}

.sectionContent__steps-bar .bar-sections {
  position: absolute;
  list-style: decimal;
  bottom: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: var(--white);
}

@media screen and (max-width: 800px) {
  .sectionContent__steps-bar .bar-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
  }
}

.sectionContent__steps-bar .bar-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10em;
  height: 5.5em;
  padding: 1.2em .5em 0;
  cursor: pointer;
  -webkit-transition: color .4s linear;
  transition: color .4s linear;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .sectionContent__steps-bar .bar-item {
    width: auto;
    height: 3em;
    padding: .8em 2em;
    margin-bottom: .5em;
  }
}

.sectionContent__steps-bar .bar-item h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.sectionContent__steps-bar .bar-item .itemStop {
  position: absolute;
  bottom: 0;
  z-index: 1;
  margin-top: .2em;
  width: .3em;
  height: 1.3em;
  background-color: var(--white);
}

@media screen and (max-width: 800px) {
  .sectionContent__steps-bar .bar-item .itemStop {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 20%;
    left: .4em;
    height: 1.2em;
  }
}

.sectionContent__steps-bar .bar-item .itemBackground {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--brightOrange);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes animateBackground {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  20% {
    opacity: .3;
  }
  30% {
    opacity: .7;
  }
  40% {
    opacity: .9;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
    opacity: 1;
  }
}

@keyframes animateBackground {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  20% {
    opacity: .3;
  }
  30% {
    opacity: .7;
  }
  40% {
    opacity: .9;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
    opacity: 1;
  }
}

.sectionContent__steps-bar .bar-item .itemBackground.active {
  -webkit-animation: animateBackground .9s ease-in-out forwards;
          animation: animateBackground .9s ease-in-out forwards;
}

.sectionContent__bar {
  height: .4em;
  border-radius: 10px;
  width: 100%;
  background-color: var(--white);
  z-index: 20;
}

@media screen and (max-width: 800px) {
  .sectionContent__bar {
    height: auto;
    background-color: transparent;
  }
}

.sectionContent__bar .mobileSidebar {
  display: none;
  position: absolute;
  top: -.5em;
  left: -.4em;
  border-radius: 10px;
  height: 100%;
  width: .4em;
  background-color: var(--white);
}

@media screen and (max-width: 800px) {
  .sectionContent__bar .mobileSidebar {
    display: block;
  }
}

.sectionContent__selectedBarItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (max-width: 800px) {
  .sectionContent__selectedBarItem {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes animateBarItem {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    -webkit-transform: rotate3d(1, 1, 0.2, 10deg) scale(1.1);
            transform: rotate3d(1, 1, 0.2, 10deg) scale(1.1);
  }
  35% {
    -webkit-transform: rotate3d(1, 1, 0.2, -8deg) scale(1.1);
            transform: rotate3d(1, 1, 0.2, -8deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 5deg) scale(1.1);
            transform: rotate3d(1, 1, 0, 5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg) scale(1);
            transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg) scale(1);
            transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
}

@keyframes animateBarItem {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    -webkit-transform: rotate3d(1, 1, 0.2, 10deg) scale(1.1);
            transform: rotate3d(1, 1, 0.2, 10deg) scale(1.1);
  }
  35% {
    -webkit-transform: rotate3d(1, 1, 0.2, -8deg) scale(1.1);
            transform: rotate3d(1, 1, 0.2, -8deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 5deg) scale(1.1);
            transform: rotate3d(1, 1, 0, 5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg) scale(1);
            transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg) scale(1);
            transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
}

.sectionContent__selectedBarItem div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3em;
  -webkit-animation: animateBarItem 8s ease-in-out infinite;
          animation: animateBarItem 8s ease-in-out infinite;
}

@media screen and (max-width: 800px) {
  .sectionContent__selectedBarItem div {
    display: none;
  }
}

.sectionContent__selectedBarItem div > * + * {
  margin-left: .7em;
}

.sectionContent__selectedBarItem div img {
  width: 4em;
}

.sectionContent__selectedBarItem div h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}

.sectionContent__selectedBarItem ul {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.sectionContent__selectedBarItem ul li {
  position: relative;
  color: var(--white);
  line-height: 1.6;
  font-size: 1.4em;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .sectionContent__selectedBarItem ul li {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.sectionContent__selectedBarItem ul li::before {
  position: absolute;
  content: "";
  left: -1.8em;
  top: .55em;
  width: .3em;
  height: .3em;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid var(--brightOrange);
}

.sectionContent .contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  -webkit-transition: -webkit-transform .3s ease-out, -webkit-filter .3s linear;
  transition: -webkit-transform .3s ease-out, -webkit-filter .3s linear;
  transition: transform .3s ease-out, filter .3s linear;
  transition: transform .3s ease-out, filter .3s linear, -webkit-transform .3s ease-out, -webkit-filter .3s linear;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .sectionContent .contact-button {
    width: 100%;
    height: 5em;
    margin-top: 1.5em;
  }
}

.sectionContent .contact-button .button__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--brightOrange);
  border-radius: 50%;
  border: 2px solid var(--white2);
  width: 6em;
  height: 6em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
}

.sectionContent .contact-button .button__left img {
  width: 60%;
}

@media screen and (max-width: 800px) {
  .sectionContent .contact-button .button__left {
    height: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
  }
}

.sectionContent .contact-button .button__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  left: -.8em;
  height: 60%;
  padding: 0 1.5em;
  background-color: var(--brightOrange);
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 800px) {
  .sectionContent .contact-button .button__right {
    height: 100%;
    text-align: right;
    border-radius: 0 5px 5px 0;
  }
}

.sectionContent .contact-button .button__right h3 {
  font-size: 1.6em;
  color: var(--white2);
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color .4s ease-in;
  transition: color .4s ease-in;
}

.sectionContent .contact-button .button__right::before {
  position: absolute;
  content: '';
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--brightOrange);
  width: 100%;
  height: 99%;
  background-color: var(--white);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .sectionContent .contact-button .button__right::before {
    border: none;
    border-radius: 0 5px 5px 0;
  }
}

.sectionContent .contact-button:hover h3 {
  color: var(--brightOrange);
}

.sectionContent .contact-button:hover .button__right::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.sectionContent .teamCard {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 150;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard {
    position: relative;
    width: 70%;
    height: 35vh;
    z-index: inherit;
  }
}

.sectionContent .teamCard__Flip {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s ease-out;
  transition: -webkit-transform 1.5s ease-out;
  transition: transform 1.5s ease-out;
  transition: transform 1.5s ease-out, -webkit-transform 1.5s ease-out;
}

.sectionContent .teamCard__Flip.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sectionContent .teamCard__Side {
  position: absolute;
  overflow: hidden;
  border: 1px solid var(--brightOrange);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__Side {
    -webkit-box-shadow: 0px 0px 12px var(--darkOrange);
            box-shadow: 0px 0px 12px var(--darkOrange);
  }
}

.sectionContent .teamCard--default {
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.sectionContent .teamCard--default.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sectionContent .teamCard--default .teamCard__content {
  height: 90%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard--default p:first-child {
    display: none;
  }
}

.sectionContent .teamCard--front {
  display: none;
}

.sectionContent .teamCard--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sectionContent .teamCard__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: .8em 1.5em;
  background-color: var(--brightOrange);
  height: 12%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 0;
    height: 16%;
  }
}

.sectionContent .teamCard__top h3 {
  font-size: 2em;
  color: var(--white2);
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__top h3 {
    text-align: center;
    font-size: 1.4em;
  }
}

.sectionContent .teamCard__top div {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: var(--white);
  height: 100%;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__top div {
    display: none;
  }
}

.sectionContent .teamCard__top div::before {
  position: absolute;
  content: "";
  left: -10%;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  -webkit-transform: skew(-16deg);
          transform: skew(-16deg);
}

.sectionContent .teamCard__top div img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sectionContent .teamCard .resetCardBtn {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sectionContent .teamCard .resetCardBtn img {
  width: 100%;
  height: 60%;
}

.sectionContent .teamCard .resetCardBtnMobileContainer {
  display: none;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: 40%;
  right: -20%;
}

.sectionContent .teamCard .resetCardBtnMobileContainer img {
  height: 100%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard .resetCardBtnMobileContainer {
    display: block;
  }
}

.sectionContent .teamCard__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 1em 2em;
  height: 68%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__picture {
    padding: .5em 0 0;
    height: 59%;
  }
}

.sectionContent .teamCard__picture img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionContent .teamCard__content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.2em;
  background-color: var(--darkGrayOpacity);
  height: 20%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__content {
    padding: .8em;
    height: 25%;
  }
}

.sectionContent .teamCard__content p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  max-width: 100%;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2;
}

.sectionContent .teamCard__content p + p {
  margin-top: .5em;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamCard__content p {
    font-size: 1em;
    height: 100%;
  }
  .sectionContent .teamCard__content p + p {
    margin-top: 0;
  }
}

.sectionContent .teamCard__content .teamCardParticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sectionContent .teamCard__team {
  display: none;
  position: relative;
  background-color: var(--brightOrange);
  padding: 1em 0 0;
}

@media screen and (min-width: 1600px) {
  .sectionContent .teamCard__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sectionContent .teamCard__team h4 {
  color: var(--white2);
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .8em;
}

.sectionContent .teamCard__team img {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.sectionContent .teamTree {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .sectionContent .teamTree {
    margin-bottom: 2em;
  }
}

.sectionContent .teamTree .honeyComb g {
  -webkit-clip-path: polygon(0 25.5%, 50% 0, 100% 25.5%, 100% 75%, 50% 100%, 0 75.3%);
          clip-path: polygon(0 25.5%, 50% 0, 100% 25.5%, 100% 75%, 50% 100%, 0 75.3%);
  cursor: pointer;
  fill: var(--white);
}

.sectionContent .teamTree .honeyComb g image {
  width: 18%;
  height: 24.7%;
}

.sectionContent .teamTree .honeyComb g rect {
  width: 18%;
  height: 24.7%;
}

.sectionContent .teamTree .honeyCombBlock {
  -webkit-transition: -webkit-transform .4s ease-out, -webkit-filter .4s ease-out;
  transition: -webkit-transform .4s ease-out, -webkit-filter .4s ease-out;
  transition: transform .4s ease-out, filter .4s ease-out;
  transition: transform .4s ease-out, filter .4s ease-out, -webkit-transform .4s ease-out, -webkit-filter .4s ease-out;
}

.sectionContent .teamTree .honeyCombBlock.selected {
  -webkit-transform: scale(1.05) translate(-2.25%, -2%);
          transform: scale(1.05) translate(-2.25%, -2%);
  -webkit-filter: drop-shadow(0px 3px 5px var(--brightOrange)) drop-shadow(0px -3px 5px var(--brightOrange));
          filter: drop-shadow(0px 3px 5px var(--brightOrange)) drop-shadow(0px -3px 5px var(--brightOrange));
}

.sectionContent .teamTree .honeyCombBlock--thirdrow.selected {
  -webkit-transform: scale(1.03) translate(-1.4%, -2%);
          transform: scale(1.03) translate(-1.4%, -2%);
}

.sectionContent .teamTree .honeyCombBlock--fourthrow.selected {
  -webkit-transform: scale(1) translate(0%, -1%);
          transform: scale(1) translate(0%, -1%);
}

.sectionContent .teamTree .svgHexagon {
  -webkit-transition: opacity .5s ease-in, -webkit-transform .8s ease-out;
  transition: opacity .5s ease-in, -webkit-transform .8s ease-out;
  transition: transform .8s ease-out, opacity .5s ease-in;
  transition: transform .8s ease-out, opacity .5s ease-in, -webkit-transform .8s ease-out;
}

.sectionContent .teamTree .svgHexagon.active {
  -webkit-transform: scale3d(0.2, 0.2, 1);
          transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
}

@media screen and (max-width: 800px) {
  #home .sectionContent__right {
    display: none;
  }
}

#operar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  #proyecto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#proyecto .sectionContent__left {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: var(--brightOrange);
}

@media screen and (max-width: 800px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

footer .footer__left {
  padding: 1.2em 2em;
}

footer .footer__right {
  background-color: var(--darkOrange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--white2);
  font-weight: 500;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1.5em;
  height: 100%;
  color: var(--white2);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
}

footer a + a {
  border-left: 2px solid var(--brightOrange);
}

@media screen and (max-width: 800px) {
  footer a {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */