@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import './variables';
@import './mixins';
@import './general-styles';


// Header

header {

    position: absolute;
    width: 100%;
    z-index: 100;

    nav {
        position: fixed;
        height: 8vh;
        width: 100%;
        @include dispFlex(space-between,flex-start,row);
        transition: background-color .2s ease-in;
        background-color: var(--backgroundClr);

        @media screen and (max-width: 800px) {
            height: 10vh;
            position: relative;
        }

        ul {
            height: 100%;
        }

        ul li {
            position: relative;
            overflow: hidden;
            font-size: 1.2em;
            height: 100%;
            flex-shrink: 0;
            z-index: 1;

            &:hover::before {
                transform: scaleY(1);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

        ul li::before {
            position: absolute;
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            background-color: var(--brightOrange);
            @include transformScale(1,0,ease-in,bottom);
            
        }

        ul li::after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: var(--white);
            @include transformScale(0,1,ease-out,center)
        }
    
        ul a {
            @include dispFlex(center,center,row);
            text-transform: uppercase;
            text-align: left;
            padding: .5em 1.2em;
            color: var(--white);
            letter-spacing: .2px;
            font-weight: 600;
            height: 100%;

            @media screen and (max-width: 800px) {
                color: var(--white2);
                padding: 1em;
            }
        }
    }

    .leftNav {

        @include dispFlex(space-between,center,row);
        padding: 0 1em;
        flex-basis: 95%;
        height: 100%;

        #logoContainer {
            position: relative;
            width: 2.5em;
            height: 100%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .hamburguerMenu {
            display: none;
            z-index: 200;
            position: fixed;
            padding: .5em .8em;
            bottom: 3em;
            right: 1em;
            width: 4em;
            height: 4em;
            border-radius: 5px;
            background-color: var(--brightOrange);

            @media screen and (max-width: 800px) {
                display: block;
            }

            span {
                display: inline-block;
                width: 100%;
                height: .3em;
                background-color: var(--backgroundClr);
                transition: transform .3s ease-out;
                border-radius: 2px;
            }

            &.open {

                span:first-child {
                    transform: rotate(-45deg) translate(-.7em, .7em) scale(1.2);
                }

                span:nth-child(2) {
                    transform: scale(0);
                }

                span:last-child {
                    transform: rotate(45deg) translate(-.7em, -.7em) scale(1.2);
                }
            }
        }

        ul {
            @include dispFlex(space-around,center,row);
            flex-basis: 50%;

            @media screen and (max-width: 800px) {
                display: block;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                bottom: 5em;
                right: 1.2em;
                border-radius: 5px;
                box-shadow: 0 0 10px var(--darkOrange);
                height: auto;
                background-color: var(--brightOrange);
                transform: scale(0);
                opacity: 0;
                transition: transform .4s ease-out, opacity .4s ease-out;
                transform-origin: bottom right;

                &.mobile {
                    transform: scale(1) translateY(-3em);
                    opacity: 1;
                }

            }
        }
    }

    .rightNav {
        @include dispFlex(space-around,center,row );
        padding: .5em;
        flex-basis: 5%;
        height: 100%;

        ul {
            @include dispFlex(flex-end,center,row);
            flex-basis: 100%;
        }

        ul li:first-child {
            padding-right: 1.5em;
        }

        ul li:last-child {
            border-left: 2px solid white;
            padding-left: 1.5em;
        }

    }
}

// Main

main {
    transition: background-color .2s ease-in;
    background-color: var(--backgroundClr);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;

    @media screen and (max-width: 800px) {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 800px) {
    #hamburguerMenuClickOutside {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    #hamburguerMenuClickOutside.active {
        display: block;
    }
}



.sectionContent {

    @include dispFlex(space-around,center,row);
    padding: 1em;
    height: 100vh;

    @media screen and (max-width: 800px) {
        position: relative;
        flex-direction: column;
        height: auto;
    }

    &__left {

        flex-basis: 50%;

        @media screen and (max-width: 800px) {
            width: 100%;
        }

        h2 {
            font-size: 4em;
            font-weight: 600;
            letter-spacing: .5px;
            line-height: 1.1;
            color: var(--white);

            @media screen and (max-width: 800px) {
                font-size: 2.6em;
            }

            b {
                color: var(--brightOrange);
            }
        }
        
        p {
            margin-top: .8em;
            color: var(--whiteOpacity);
            font-weight: 400;
            font-size: 2em;
            max-width: 85%;

            @media screen and (max-width: 800px) {
                font-size: 1.6em;
                max-width: 95%;
                text-align: left;
            }
        }
    }

    &__right {

        flex-basis: 40%;

        @media screen and (max-width: 800px) {
            width: 100%;
        }

        #criptominandoBigImage {
            animation: moveImage 5s ease-in-out infinite;
        }

        @keyframes moveImage {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(2%);
            }
            100% {
                transform: translateY(0);
            }
        }
    }

    &__cta-buttons {

        margin-top: 1.2em;
        display: flex;

    }

    &__whyus {
        position: relative;
        z-index: 50;
        @include dispFlex(center,flex-start,column);
        border: 2px solid var(--brightOrange);
        height: 100%;
        overflow: hidden;

        @media screen and (max-width: 800px) {
            margin-top: 2em;
        }

        div {
            width: 100%;
            padding: 1em;
            @include dispFlex(space-between,center,row);
            border-bottom: 20px solid var(--brightOrange);

            h3 {
                color: var(--white);
                margin-left: .8em;
                font-size: 1.7em;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--brightOrange);

                @media screen and (max-width: 800px) {
                    font-size: 1.5em;
                }
            }
        }

        ol {
            @include dispFlex(center,flex-start,column);
            padding: 1em 2em;
            list-style: decimal;
            color: var(--white);
            font-size: 1.6em;
            font-weight: 500;

            @media screen and (max-width: 800px) {
                font-size: 1.3em;
            }

            li {
                position: relative;
                line-height: 1.2;

                &::after {
                    position: absolute;
                    left: 2px;
                    bottom: -5px;
                    content: "";
                    width: 99%;
                    height: 2px;
                    background-color: var(--white);
                    transform: scaleX(0);
                    transition: transform 1.7s ease-in-out, background-color 1.2s ease-in;
                    transform-origin: left;
                }

                &.active::after {
                    transform: scaleX(1);
                    background-color: var(--brightOrange);
                }

                &.active:nth-child(3):after {
                    transition: transform 2s ease-in-out, background-color 1.2s ease-in;
                }
            }

            li + li {
                margin-top: .8em;
            }
        }

        #skewedLinesImg {
            position: absolute;
            right: -2em;
            bottom: -.5em;
            height: 40%;
            z-index: -1;

            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }

    &__top {

        margin-bottom: 2em;

        h4 {
            position: relative;
            left: -4em;
            font-size: 1.2em;
            text-transform: uppercase;
            color: var(--brightOrange);
            font-weight: 600;

            @media screen and (max-width: 800px) {
                left: 0;
            }
        }
        
        h3 {
            position: relative;
            margin-top: .4em;
            font-size: 2.5em;
            font-weight: 600;
            color: var(--white);

            &::before {
                content: "";
                position: absolute;
                left: -1.4em;
                top: 0;
                width: 1em;
                height: 100%;
                background: url(../img/ProfitIcon.svg) no-repeat;
                background-size: 100%;
            }
        }
    }

    &__steps-bar {
        
        position: relative;
        width: 80%;

        @media screen and (max-width: 800px) {
            margin: 1em 0;
            width: 90%;
        }
        
        .bar-sections {
            position: absolute;
            list-style: decimal;
            bottom: 100%;
            width: 100%;
            @include dispFlex(space-around,stretch,row);
            color: var(--white);

            @media screen and (max-width: 800px) {
                @include dispFlex(space-around,stretch,column);
                position: relative;
            }
        };

        .bar-item {
            position: relative;
            @include dispFlex(space-between,center,column);
            width: 10em;
            height: 5.5em;
            padding: 1.2em .5em 0;
            cursor: pointer;
            transition: color .4s linear;
            z-index: 10;

            @media screen and (max-width: 800px) {
                width: auto;
                height: 3em;
                padding: .8em 2em;
                margin-bottom: .5em;
           
            }

            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.2em;
                font-weight: 500
            }

            .itemStop {
                position: absolute;
                bottom: 0;
                z-index: 1;
                margin-top: .2em;
                width: .3em;
                height: 1.3em;
                background-color: var(--white);

                @media screen and (max-width: 800px) {
                    position: absolute;
                    transform: rotate(90deg);
                    top: 20%;
                    left: .4em;
                    height: 1.2em;
                }
            }

            .itemBackground {
                position: absolute;
                bottom: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background-color: var(--brightOrange);
                transform: scale(1,0);
                opacity: 0;
                transform-origin: bottom;
            }

            @keyframes animateBackground {
                0% {
                    transform-origin: bottom;
                    transform: scale(1,0);
                    opacity: 0;
                }

                20% {
                    opacity: .3;
                }

                30% {
                    opacity: .7;
                }

                40% {
                    opacity: .9;
                }

                50% {
                    transform: scale(1,1);
                    opacity: 1;
                }
                100% {
                    transform: scale(1,.9);
                    opacity: 1;
                }
            }

            .itemBackground.active {
                animation: animateBackground .9s ease-in-out forwards;
            }
        };
    }

    &__bar {
        height: .4em;
        border-radius: 10px;
        width: 100%;
        background-color: var(--white);
        z-index: 20;

        @media screen and (max-width: 800px) {
            height: auto;
            background-color: transparent;
        }

        .mobileSidebar {
            display: none;
            position: absolute;
            top: -.5em;
            left: -.4em;
            border-radius: 10px;
            height: 100%;
            width: .4em;
            background-color: var(--white);

            @media screen and (max-width: 800px) {
                display: block;
            }
        }
    }

    &__selectedBarItem {
        @include dispFlex(space-around,center,row);
        width: 70%;
        perspective: 1000px;

        @media screen and (max-width: 800px) {
            top: 0;
            @include dispFlex(space-evenly,center,column);
        }

        @keyframes animateBarItem {
            0% {
                transform: rotate3d(0, 0, 0, 0deg);
            }
            20% {
                transform: rotate3d(1, 1, .2, 10deg) scale(1.1);
            }
            35% {
                transform: rotate3d(1, 1, .2, -8deg) scale(1.1);
            }
            50% {
                transform: rotate3d(1, 1, 0, 5deg) scale(1.1);
            }

            70% {
                transform: rotate3d(0, 0, 0, 0deg) scale(1);
            }

            100% {
                transform: rotate3d(0, 0, 0, 0deg) scale(1);
            }
        }

        div {
            
            flex-basis: 30%;

            @include dispFlex(flex-start,center,row);
            margin-right: 3em;
            animation: animateBarItem 8s ease-in-out infinite;

            @media screen and (max-width: 800px) {
                display: none;
            }

            & > * + * {
                margin-left: .7em
            }

            img {
                width: 4em;
            }

            h3 {
                font-size: 2em;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--white);
            }

        }

        ul {

            flex-basis: 55%;

            li {
                position: relative;
                color: var(--white);
                line-height: 1.6;
                font-size: 1.4em;
                font-weight: 500;

                @media screen and (max-width: 800px) {
                    font-size: 1.2em;
                    line-height: 1.4;
                }

                &::before {
                    position: absolute;
                    content: "";
                    left: -1.8em;
                    top: .55em;
                    width: .3em;
                    height: .3em;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 5px solid var(--brightOrange);
                }
            }
        }
    }

    .contact-button {
        @include dispFlex(center,center,row);
        z-index: 50;
        transition: transform .3s ease-out, filter .3s linear;
        cursor: pointer;

        @media screen and (max-width: 800px) {
            width: 100%;
            height: 5em;
            margin-top: 1.5em;
        }

        .button__left {
            @include dispFlex(center,center,row);
            background-color: var(--brightOrange);
            border-radius: 50%;
            border: 2px solid var(--white2);
            width: 6em;
            height: 6em;
            flex-shrink: 0;
            z-index: 2;

            img {
                width: 60%;
            }

            @media screen and (max-width: 800px) {
                height: 100%;
                border: none;
                border-radius: 5px 0 0 5px;
            }
        }

        .button__right {
            @include dispFlex(center,center,row);
            position: relative;
            z-index: 1;
            left: -.8em;
            height: 60%;
            padding: 0 1.5em;
            background-color: var(--brightOrange);
            border-radius: 0 10px 10px 0;

            @media screen and (max-width: 800px) {
                height: 100%;
                text-align: right;
                border-radius: 0 5px 5px 0;
            }

            h3 {
                font-size: 1.6em;
                color: var(--white2);
                font-weight: 500;
                text-transform: uppercase;
                transition: color .4s ease-in;
            }

            &::before {
                position: absolute;
                content: '';
                border-radius: 0 10px 10px 0;
                border: 2px solid var(--brightOrange);
                width: 100%;
                height: 99%;
                background-color: var(--white);
                transform: scaleX(0);
                transition: transform .3s ease-out;
                transform-origin: left;
                z-index: -1;

                @media screen and (max-width: 800px) {
                    border: none;
                    border-radius: 0 5px 5px 0;
                }
            }
        }

        &:hover h3 {
            color: var(--brightOrange);
        }

        &:hover .button__right::before {
            
            transform: scaleX(1);
            
        }
    }

    .teamCard {

        width: 70%;
        @include dispFlex(space-between,stretch,column);
        perspective: 1000px;
        z-index: 150;

        @media screen and (max-width: 800px) {
            position: relative;
            width: 70%;
            height: 35vh;
            z-index: inherit;
        }

        &__Flip {
            position: relative;
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;
            transition: transform 1.5s ease-out;
        }

        &__Flip.active {
            transform: rotateY(180deg);
        }

        &__Side {
            position: absolute;
            overflow: hidden;
            border: 1px solid var(--brightOrange);
            border-top: none;
            @include dispFlex(space-between,stretch,column);
            backface-visibility: hidden;
            width: 100%;
            height: 100%;

            @media screen and (max-width: 800px) { 
                box-shadow: 0px 0px 12px var(--darkOrange);
            }
        }

        &--default {

            transition: opacity .5s ease-out;

            &.active {
                transform: rotateY(180deg);
            }

            .teamCard__content {
                height: 90%;
            }

            @media screen and (max-width: 800px) {

                p:first-child {
                    display: none;
                }
            }
        }

        &--front {
            display: none;
        }

        &--back {
            transform: rotateY(180deg);
        }

        &__top {
            
            @include dispFlex(space-between,center,row);
            position: relative;
            padding: .8em 1.5em;
            background-color: var(--brightOrange);
            height: 12%;
            overflow: hidden;

            @media screen and (max-width: 800px) {
                @include dispFlex(center,center,row);
                padding: .5em 0;
                height: 16%;
            }

            h3 {
                font-size: 2em;
                color: var(--white2);
                text-transform: uppercase;
                font-weight: 600;

                @media screen and (max-width: 800px) {
                    text-align: center;
                    font-size: 1.4em;
                }
            }

            div {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 0;
                background-color: var(--white);
                height: 100%;
                width: 25%;

                @media screen and (max-width: 800px) {
                    display: none;
                }

                &::before {
                    position: absolute;
                    content: "";
                    left: -10%;
                    top: 0;
                    width: 20%;
                    height: 100%;
                    background-color: var(--white);
                    z-index: -1;
                    transform: skew(-16deg);
                }

                img {
                    position: absolute;
                    height: 70%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

            }
        }

        .resetCardBtn {
            position: absolute;
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            img {
                width: 100%;
                height: 60%
            }

        }

        .resetCardBtnMobileContainer {
            display: none;
            position: absolute;
            width: 2.5em;
            height: 2.5em;
            top: 40%;
            right: -20%;

            img {
                height: 100%;
            }

            @media screen and (max-width: 800px) {
                display: block;
            }
        }

        &__picture {

            @include dispFlex(center,center,row);
            overflow: hidden;
            padding: 1em 2em;
            height: 68%;

            @media screen and (max-width: 800px) {
                padding: .5em 0 0;
                height: 59%;
            }

            img {
                height: 100%;
                object-fit: cover;
    
            }
        }

        &__content {
            position: relative;
            z-index: 10;
            @include dispFlex(center,flex-start,row);
            padding: 1.2em;
            background-color: var(--darkGrayOpacity);
            height: 20%;

            @media screen and (max-width: 800px) {
                padding: .8em;
                height: 25%;
            }

            p {
                margin-block-start: 0;
                max-width: 100%;
                font-size: 1.3em;
                font-weight: 500;
                line-height: 1.2;

                & + p {
                    margin-top: .5em;
                }

                @media screen and (max-width: 800px) {
                    font-size: 1em;
                    height: 100%;

                    & + p {
                        margin-top: 0;
                    }

                }
            }

            .teamCardParticles {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        &__team {

            @media screen and (min-width: 1600px) {
                @include dispFlex(space-between,center,column);
            }

            display: none;
            position: relative;
            background-color: var(--brightOrange);
            padding: 1em 0 0;

            h4 {
                color: var(--white2);
                font-size: 2em;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: .8em;
            }

            img {
                position: relative;
                height: 100%;
                width: 100%;
                opacity: .8;
            }


        }
    }

    .teamTree {

        position: relative;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 800px) {
            margin-bottom: 2em;
        }

        .honeyComb g {

            clip-path: polygon(0 25.5%, 50% 0, 100% 25.5%, 100% 75%, 50% 100%, 0 75.3%);
            cursor: pointer;
            fill: var(--white);

            image {
                width: 18%;
                height: 24.7%;
            }
    
            rect {
                width: 18%;
                height: 24.7%;
            }
        }

        .honeyCombBlock {

            transition: transform .4s ease-out, filter .4s ease-out;

            &.selected {

                transform: scale(1.05) translate(-2.25%,-2%);
                filter: drop-shadow(0px 3px 5px var(--brightOrange)) drop-shadow(0px -3px 5px var(--brightOrange));
            }
        }

        .honeyCombBlock--thirdrow {
            &.selected {
                transform: scale(1.03) translate(-1.4%,-2%);
            }
        }

        .honeyCombBlock--fourthrow {
            &.selected {
                transform: scale(1) translate(-0%,-1%);
            }
        }

        .svgHexagon {

            transition: transform .8s ease-out, opacity .5s ease-in;

            &.active {
                transform: scale3d(.2,.2,1);
                opacity: 0;
            }
        }
    }
}

//Content Sections - Specific Adjusts

#home {
    @media screen and (max-width: 800px) {
        .sectionContent__right {
            display: none;
        }
    }
}

#operar {
    @include dispFlex(space-around,center,column);
}

#proyecto {

    @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
    }

    .sectionContent__left {
        height: 80%;
        @include dispFlex(space-around,stretch,row);

    }
}

// Footer


footer {
    @include dispFlex(space-between, stretch, row);
    background-color: var(--brightOrange);

    @media screen and (max-width: 800px) {
        @include dispFlex(space-between, stretch, column);
    }

    .footer__left {
        padding: 1.2em 2em;
    }

    .footer__right {
        background-color: var(--darkOrange);
        @include dispFlex(space-between, center, row);
    }

    p {
        font-size: 1.2em;
        text-transform: uppercase;
        color: var(--white2);
        font-weight: 500;
    }

    a {
        @include dispFlex(space-between, center, row);
        padding: .5em 1.5em;
        height: 100%;
        color: var(--white2);
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 600;

        & + a {
            border-left: 2px solid var(--brightOrange);
        }

        @media screen and (max-width: 800px) {
            width: 50%;
        }
    }
}
